@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="hud-ammo">
        <div class="ammo-container">
            @if ( Gun is not null )
            {
                @if ( Gun.IsReloading )
                {
                    <div class="reloading">
                        <span class="reload-text">RELOADING</span>
                        <div class="reload-bar"><div class="reload-fill"></div></div>
                    </div>
                }
                else
                {
                    <div class="ammo-display">
                        <span class="ammo-current">@Gun.Ammo</span>
                        <span class="ammo-divider">/</span>
                        <span class="ammo-max">10</span>
                    </div>
                    <div class="ammo-label">AMMO</div>
                    <div class="ammo-pips">
                        @for ( int i = 0; i < 10; i++ )
                        {
                            <div class="pip @(i < Gun.Ammo ? "pip-full" : "pip-empty")"></div>
                        }
                    </div>
                }
            }
        </div>
    </div>
	<div class="crosshair">
    <div class="ch-top"></div>
    <div class="ch-bottom"></div>
    <div class="ch-left"></div>
    <div class="ch-right"></div>
    <div class="ch-dot"></div>
</div>
</root>

@code
{
    Gun Gun => Scene.GetAll<Gun>().FirstOrDefault( x => !x.IsProxy );

    protected override int BuildHash() => System.HashCode.Combine( Gun?.Ammo, Gun?.IsReloading );
}
